@import "bootstrap/bootstrap";

.disable-div {
  pointer-events: none;
}

.div-border-right {
  border-right: 4px solid black;
}

.div-border-top {
  border-top: 4px solid black
}

// .top-nav {
//   height: 3rem;
//   background: #5e5f61;
//   padding: 10px;
//   color: white;
// }

// .form-div {
//   min-height: 100%;
//   max-width: 1200px;
//   min-width: 280px;
//   margin: 0 auto;
// }

// .custom-form {
//   display: table;
//   float: left;
//   width: 450px;
// }

// .input-label {
//   width: 299px;
// }

// .btn-add-option {
//   float: right;
// }

// .ul-option {
//   display: table;
// }

// .btn-bottom {
//   margin-right: 5px;
//   margin-bottom: 8px;
// }

// .alt-btn {
//   border-radius: 50% !important;
//   margin: 1px;
// }
